<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Index</title>

  </head>

  <body class="m-0 vh-100 row justify-content-center align-items-center">
  <!-- Navbar -->


<div class="col-auto">
        <form action="{{ url_for('importar_excel') }}" enctype=multipart/form-data method="post">
            <div class="form-group">
                <label for="mrpdata" class="form-label">Subir MRP Data</label>
                <input class="form-control form-control-sm" name="mrpdata" type="file" multiple />

            </div>
             <div class="form-group">
                <label for="zptfr" class="form-label">Subir archivo ZPTFR_04</label>
                <input class="form-control form-control-sm" name="zptfr" type="file" multiple />

            </div>

            <div class="form-group">
                <label for="volume" class="form-label">Subir archivo VolumeIn</label>
                <input class="form-control form-control-sm" name="volume" type="file" multiple />

            </div>
                <button type="submit" class="btn btn-primary">Cargar</button>
        </form>
    </div>
  </body>
</html>